input[type="submit"] {
  font-family: 'Helvetica', 'Arial', sans-serif;
   display: inline-block;
   font-size: 0.85em;
   padding: 1em 2em;
   -webkit-appearance: none;
   appearance: none;
   background-color: darkgrey;
   color: #5d5899 ;
   border-radius: 4px;
   border: none;
   cursor: pointer;
   position: relative;
   transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

input[type="submit"]:before {
 content: '';
 width: 0;
 height: 300%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: #5A5C5C;
 transition: .5s ease;
 display: block;
 z-index: -1;
}

input[type="submit"]:hover::before {
 width: 105%;
}

input[type="submit"]:hover {
 color: white;
}
