<a id="redeem-gplay">
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">

                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">More Content Comming Soon</h4>

            </div>
            <div class="container-fluid pt-5">
                <div class="container">
                    <div class="d-flex flex-column align-items-center justify-content-center">

                        <p>
                          We are working on getting more Crypto currency to the table to keep up with the new internet world that are giving to us.
                        </p>

                </div>
            </div>
        </div>
    </div>
</a>
