<a id="redeem-gplay">
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">

                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Redeeming Google Play Giftcards</h4>

            </div>
            <div class="container-fluid pt-5">
                <div class="container">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <p>
                            <a href="https://play.google.com/store/games">Google Play</a> is the biggest market place for Android applications. 
                        </p>
                        <br>
                        <p>
                            Once you redeem a giftcard that is still active, if it has not been redeemed by any other, the funds will be added to your 
                            Google Play balance.
                        </p>

                        <h2>Redeeming on Mobile</h2>
                        <p>
                            To redeem you can follow these simple steps.
                            <br>
                            1. Open you're Google Play application
                            <br>
                            2. Click on you're profile at the Top Right Corner
                            <br>
                            <br>
                            <img src="../../img/posts/redeem-gplay/1.jpg" alt="Opening your google profile in the top right corner" class="responsive-image"/>
                            <br>
                            <br>
                            3. Locate the <bold>Payments & Subscriptions</bold> option and click it.
                            <br>
                            <br>
                            <img src="../../img/posts/redeem-gplay/2.jpg" alt="Payments & Subscriptions to redeem" class="responsive-image"/>
                            <br>
                            <br>
                            3. Locate the <bold>Redeem Code</bold> option and click it.
                            <br>
                            <br>
                            <img src="../../img/posts/redeem-gplay/3.jpg" alt="Redeem Code button in google play" class="responsive-image"/>
                            <br>
                            <br>
                            4. Enter the given code and press <bold>Redeem</bold>
                        </p>

                        <br>
                        <br>
                        <h2>Redeeming on PC</h2>

                        <p>Redeeming on PC is the easiest way to redeem.</p>
                        <br>
                        <p>
                            1. Make sure you are signed into the Google Account you want to redeem with on you're Browser
                            <br>
                            2. Visit <a href="https://play.google.com/redeem">Google Redeem</a>
                            <br>
                            3. Wait a few seconds and a popup will appear asking for your Code
                            <br>
                            <br>
                            <img src="../../img/posts/redeem-gplay/1-pc.PNG" alt="Redeem Code popup in google play" class="responsive-image"/>
                            <br>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</a>
