<a id="redeem-amazon">
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">

                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Redeeming Amazon Giftcards</h4>

            </div>
            <div class="container-fluid pt-5">
                <div class="container">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <p>
			<a href="https://www.amazon.com/gift-cards/">Amazon</a> is a giant market place, at this place you can buy almost anything you can imagine.
                        </p>
                        <br>
                        <p>
				To redeem a giftcard from Amazon, you will need an account on <a href="https://www.amazon.com/">Amazon.com</a> and be signed into that account.
                        </p>
                       <br>
                        <h2>Redeeming on PC</h2>

                        <p>Redeeming on PC is the easiest way to redeem.</p>
                        <br>
                        <p>
                            1. Make sure you are signed into the Amazon Account you want to redeem with on you're Browser
                            <br>
                            2. Visit <a href="https://www.amazon.com/gc/redeem/">Amazon Redeem</a>
                            <br>
                            3. Once the WebSite has loaded, Fill in the Code and press "Apply To Your Balance";
                            <br>
                            <br>
                            <img src="../../img/posts/redeem-amazon/redeem-amazon.png" alt="Redeem From From Amazon" class="responsive-image"/>
                            <br>
			    4. Enjoy you're updated balance
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</a>
