<a id="about">
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">

                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">About</h4>

            </div>
            <div class="container-fluid pt-5">
                <div class="container">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        Giveme.today is a website that is created by two friends thats loves to give.<br>
                        We made this website with the purpose to hand out free stuff to make life easier for everyone.<br>
                        <br>
                        We will update the website with new free stuff as soon as we get stuff to give away.<br>
                        <br>
                        If you want to have a better chance of catching the gifts first, make sure to sign up for our
                        announcement list where we will be giving headsups before a new gift is released.
                        <br>
                        If you want to follow us more and wants to see what we have in the making for the future read our <a href="blog.html">Blog</a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</a>
