<a id="about">
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">

                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">About</h4>

            </div>
            <div class="container-fluid pt-5">
                <div class="container">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        Giveme.today is a website that is created by two friends.<br>
                        We created this website with the purpose of handing out free stuff.<br>
                        <br>
                        We will be giving away free stuff on this website to users who visits.<br>
                        <br>
                        We will be giving out Giftcards to start with, but we are constantly looking and tracking new
                        things to give away.<br>
                        <br>
                        If you want to have a better chance of catching the gifts first, make sure to sign up for our
                        announcement list where we will be<br>
                        giving headsups before a new gift is released.

                    </div>

                </div>
            </div>
        </div>
    </div>
</a>