<table class="giftcards-table">
    <tr class="giftcards-row">
        <th class="giftcards-header">Giftcard From</th>
        <th class="giftcards-header">Code</th>
        <th class="giftcards-header">Amount ($)</th>
        <th class="giftcards-header">Gifted at</th>
    </tr>
    <tr class="giftcards-row">
        <td class="giftcards-data">Google Play</td>
        <td class="giftcards-data">1PXFFN79CERLS9G1</td>
        <td class="giftcards-data">10</td>
        <td class="giftcards-data">2022-09-22 10:34 CEST</td>
    </tr>
    <tr class="giftcards-row">
        <td class="giftcards-data">Google Play</td>
        <td class="giftcards-data">C77M72V292UWVY4R</td>
        <td class="giftcards-data">10</td>
        <td class="giftcards-data">2022-09-21 14:15 CEST</td>
    </tr>
    <tr class="giftcards-row">
        <td class="giftcards-data">Google Play</td>
        <td class="giftcards-data">DPDREWR6C86X02P0</td>
        <td class="giftcards-data">10</td>
        <td class="giftcards-data">2022-09-18 19:55 CEST</td>
    </tr>
    <tr class="giftcards-row">
        <td class="giftcards-data">Google Play</td>
        <td class="giftcards-data">9S1M3JWWXPW28SWH</td>
        <td class="giftcards-data">25</td>
        <td class="giftcards-data">2022-09-15 06:22 CEST</td>
    </tr>
    <tr class="giftcards-row">
        <td class="giftcards-data">Google Play</td>
        <td class="giftcards-data">L56D4BK959V1U6N7</td>
        <td class="giftcards-data">10</td>
        <td class="giftcards-data">2022-09-11 23:41 CEST</td>
    </tr>
    <tr class="giftcards-row">
        <td class="giftcards-data">Google Play</td>
        <td class="giftcards-data">6G1B43W0S0NY96E9</td>
        <td class="giftcards-data">5</td>
        <td class="giftcards-data">2022-09-5 02:06 CEST</td>
    </tr>
</table>