<table class="giftcards-table" id="primary-giftcard-table">
    <thead>
        <tr class="giftcards-row">
            <th class="giftcards-header">Giftcard From</th>
            <th class="giftcards-header">Code</th>
            <th class="giftcards-header">Gifted at</th>
            <th class="giftcards-header">Amount ($)</th>
        </tr>
    </thead>
    <tbody>

      <tr class="giftcards-row">
	      <td class="giftcards-data"><a href="#redeem-amazon">Amazon</a></td>
	      <td class="giftcards-data">ASH-2YS5EM-BLTW</td>
          <td class="giftcards-data">2022-12-28 23:15 CEST</td>
          <td class="giftcards-data">5</td>
      </tr>
      <tr class="giftcards-row">
	      <td class="giftcards-data"><a href="#redeem-gplay">Google Play</a></td>
          <td class="giftcards-data">827CLVAU105A5DD7</td>
          <td class="giftcards-data">2022-12-07 19:00 CEST</td>
          <td class="giftcards-data">10</td>
      </tr>
        <tr class="giftcards-row">
	      <td class="giftcards-data"><a href="#redeem-gplay">Google Play</a></td>
            <td class="giftcards-data">1PXFFN79CERLS9G1</td>
            <td class="giftcards-data">2022-09-22 10:34 CEST</td>
            <td class="giftcards-data">10</td>
        </tr>
        <tr class="giftcards-row">
<td class="giftcards-data"><a href="#redeem-gplay">Google Play</a></td>
            <td class="giftcards-data">1PXFFN79CERLS9G1</td>
            <td class="giftcards-data">2022-09-22 10:34 CEST</td>
            <td class="giftcards-data">10</td>
        </tr>
        <tr class="giftcards-row">
<td class="giftcards-data"><a href="#redeem-gplay">Google Play</a></td>
            <td class="giftcards-data">C77M72V292UWVY4R</td>
            <td class="giftcards-data">2022-09-21 14:15 CEST</td>
            <td class="giftcards-data">10</td>
        </tr>
        <tr class="giftcards-row">
		<td class="giftcards-data"><a href="#redeem-gplay">Google Play</a></td>
            <td class="giftcards-data">DPDREWR6C86X02P0</td>
            <td class="giftcards-data">2022-09-18 19:55 CEST</td>
            <td class="giftcards-data">10</td>
        </tr>
        <tr class="giftcards-row">
		<td class="giftcards-data"><a href="#redeem-gplay">Google Play</a></td>
            <td class="giftcards-data">9S1M3JWWXPW28SWH</td>
            <td class="giftcards-data">2022-09-15 06:22 CEST</td>
            <td class="giftcards-data">25</td>
        </tr>
        <tr class="giftcards-row">
		<td class="giftcards-data"><a href="#redeem-gplay">Google Play</a></td>
            <td class="giftcards-data">L56D4BK959V1U6N7</td>
            <td class="giftcards-data">2022-09-11 23:41 CEST</td>
            <td class="giftcards-data">10</td>
        </tr>
        <tr class="giftcards-row">
		<td class="giftcards-data"><a href="#redeem-gplay">Google Play</a></td>
            <td class="giftcards-data">6G1B43W0S0NY96E9</td>
            <td class="giftcards-data">2022-09-5 02:06 CEST</td>
            <td class="giftcards-data">5</td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="giftcards-rows">
          <th class="giftcards-header" colspan="3">Total Amount Given:</th>
          <td class="giftcards-data" id="total-giftcard-amount">0</td>
        </tr>
    </tfoot>
</table>
