<a id="giftcards">
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Gift cards</h4>
                <p>
                    In this section you can find giftcards that are handed out.
                </p>
                <p> The giftcards are handed out at random times, but if you sign up for <a href="#notification">notifications</a>
                    you can get a headsup
                </p>
                <p>
                    If you dont know how to claim a giftcard, visit our <a href="blog.html">How-To Section </a> where we explain how to redeem 
                    them from each provider.
                </p>
            </div>
            <div class="container-fluid pt-5">
                <div class="container">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div style="width: 100%" w3-include-html="components/giftcards-table.html"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>