<a id="redeem-gplay">
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title">

                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Redeeming Google Play Giftcards</h4>

            </div>
            <div class="container-fluid pt-5">
                <div class="container">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <a href="https://play.google.com/store/games">Google Play </a> is the biggest market place for Android applications. 
                        <br>
                        

                    </div>

                </div>
            </div>
        </div>
    </div>
</a>