<a id="notification">
    <!-- Offer Start -->
    <div class="offer container-fluid my-5 py-5 text-center position-relative overlay-top overlay-bottom">
        <div class="container py-5">
            <h1 class="display-3 text-primary mt-3">Get Notification</h1>
            <h1 class="text-white mb-3"></h1>
            <h4 class="text-white font-weight-normal mb-4 pb-3">Sign up to get notification</h4>
            <form class="form-inline justify-content-center mb-4"
                action="https://gmail.us12.list-manage.com/subscribe/post?u=1d9fc9a3843a0411b8c9b7fe3&amp;id=b401c32054&amp;f_id=0003b6e0f0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div class="input-group">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                    <div class="input-group-append">
                        <button type="Submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                            class="button">
                            Subscribe
                        </button>
                    </div>
                </div>
            </form>

            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script
                type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
        </div>
    </div>
</a>